@import "../abstracts/variables";

.auth {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  &__column {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
  }

  &__wrap {
    max-width: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #3165cb;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  &__header {
  }

  &__footer {
    margin-top: auto;
  }

  .logo {
    max-width: unset !important;

    img {
      max-width: 80px !important;
      height: 100% !important;
      object-fit: contain;
    }
  }
  .el-input__inner {
    height: 50px;
    line-height: 50px;
  }
}

@media (max-width: 1650px) {
}

@media (max-width: 1300px) {
}

@media (max-width: 1040px) {
  .auth {
    &__column {
      width: 100%;
    }

    &__photo {
      display: none;
    }

    &__header {
      margin-top: unset;
    }

    &__footer {
      // margin-top: unset;
    }

    &__wrap {
    }

    &__content {
      overflow-y: unset;
      height: unset;
    }
  }
}

@media (max-width: 500px) {
  .auth__wrap {
    padding: 20px;
  }
}
